<div class="sport-main-page global-wrapper">
    <form>
        <mat-form-field>
            <mat-label>Select a sport</mat-label>
            <mat-select (selectionChange)="handleSportSelect($event)" [(ngModel)]="selectedValue" name="food">
            <mat-option *ngFor="let sport of sports" [value]="sport">
                {{ sport.name }}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <div *ngIf="!selectedSport" class="sport-description-wrapper">
        {{ currentSportCategory?.description }}
    </div>
    <app-sports-overview [sport]="selectedSport" *ngIf="selectedSport"></app-sports-overview>
</div>
