.sport-types-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.sport-type-title-wrapper {
    display: flex;
    justify-content: center;
}

.sport-category-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
}

.sport-category-container > * {
	box-sizing: border-box;
}

.sport-category-items-wrapper > *:last-child {
	margin-right: 0;
}

.sport-category-item {
	text-align: center;
	height: 15%;
    width: 15%;
    margin-right: 10px;
    cursor: pointer;
}


