<div class="admin-panel global-wrapper">
    <h1>Admin Panel</h1>
    <mat-tab-group>
        <mat-tab label="Sport Types">
            <ng-template mat-tab-label>
                Sport Type
            </ng-template>
            <button mat-raised-button class="add-new" (click)="openCreateTypeDialog()">Add new</button>
            <app-all-sport-types *ngIf="sportTypes" [sportTypes]="sportTypes"></app-all-sport-types>
        </mat-tab>

        <mat-tab label="Sport Categories">
            <ng-template mat-tab-label>
                Sport Category
            </ng-template>
            <button mat-raised-button class="add-new" (click)="openCreateCategoryDialog()">Add new</button>
            <app-all-categories-admin *ngIf="sportCategories" [sportCategories]="this.sportCategories"></app-all-categories-admin>
        </mat-tab>
    </mat-tab-group>
</div>
